@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.main-login{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/back.webp);
    background-size: cover;
    background-position: center center;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 380px;
    padding: 50px 30px;
    box-shadow: 7px 7px 60px #000;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.form-control input {
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
}

.form-control input[type='submit']{
    background-color: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
}


.form-control input[type='submit']:hover{
    opacity: 1;
}